* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  background: linear-gradient(0deg, black 0%, #1b1f24 100%);
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

@keyframes ringProgress {
  0% {
    stroke-dasharray: 0 100;
  }
}

#watch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

#watch .container {
  width: 100%;
  height: 100%;
  max-width: 360px;
  max-height: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#watch .container .display {
  width: 300px;
  height: 300px;
  background: #000;
  border-radius: 50%;
  position: relative;
  transform: rotate(-90deg);
}

#watch .container .display .hand {
  width: 88%;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12px;
  transform: translate(-50%, -50%);
}

#watch .container .display .hand > div {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 5px;
  border-radius: 10px;
}

#watch .container .display .hand > div .center {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translate(0, -50%);
}

#watch .container .display .hand > div .thin {
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

#watch .container .display .hand > div .fat {
  background: #fff;
  width: 70%;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  box-shadow: 0 0 10px #000;
}

#watch .container .display .hand#minute .fat {
  width: 80%;
}

#watch .container .display .hand#hour {
  width: 50%;
}

#watch .container .display .hand#second .center {
  background: #636d84;
  width: 10px;
  height: 10px;
  left: 0;
}

#watch .container .display .hand#second .thin {
  background: #636d84;
  left: -20px;
  width: 120%;
  height: 2px;
  box-shadow: 0 0 5px #000;
}

#watch .container .display .milliseconds > div {
  width: 90%;
  height: 2px;
  background: #313643;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#watch .container .display .milliseconds > div::before {
  content: '';
  background: #000;
  border: 2px solid #000;
  border-radius: 10px;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#watch .container .display .milliseconds > div:nth-of-type(2) {
  transform: translate(-50%, -50%) rotate(6deg);
}

#watch .container .display .milliseconds > div:nth-of-type(3) {
  transform: translate(-50%, -50%) rotate(12deg);
}

#watch .container .display .milliseconds > div:nth-of-type(4) {
  transform: translate(-50%, -50%) rotate(18deg);
}

#watch .container .display .milliseconds > div:nth-of-type(5) {
  transform: translate(-50%, -50%) rotate(24deg);
}

#watch .container .display .milliseconds > div:nth-of-type(6) {
  transform: translate(-50%, -50%) rotate(30deg);
}

#watch .container .display .milliseconds > div:nth-of-type(7) {
  transform: translate(-50%, -50%) rotate(36deg);
}

#watch .container .display .milliseconds > div:nth-of-type(8) {
  transform: translate(-50%, -50%) rotate(42deg);
}

#watch .container .display .milliseconds > div:nth-of-type(9) {
  transform: translate(-50%, -50%) rotate(48deg);
}

#watch .container .display .milliseconds > div:nth-of-type(10) {
  transform: translate(-50%, -50%) rotate(54deg);
}

#watch .container .display .milliseconds > div:nth-of-type(11) {
  transform: translate(-50%, -50%) rotate(60deg);
}

#watch .container .display .milliseconds > div:nth-of-type(12) {
  transform: translate(-50%, -50%) rotate(66deg);
}

#watch .container .display .milliseconds > div:nth-of-type(13) {
  transform: translate(-50%, -50%) rotate(72deg);
}

#watch .container .display .milliseconds > div:nth-of-type(14) {
  transform: translate(-50%, -50%) rotate(78deg);
}

#watch .container .display .milliseconds > div:nth-of-type(15) {
  transform: translate(-50%, -50%) rotate(84deg);
}

#watch .container .display .milliseconds > div:nth-of-type(16) {
  transform: translate(-50%, -50%) rotate(90deg);
}

#watch .container .display .milliseconds > div:nth-of-type(17) {
  transform: translate(-50%, -50%) rotate(96deg);
}

#watch .container .display .milliseconds > div:nth-of-type(18) {
  transform: translate(-50%, -50%) rotate(102deg);
}

#watch .container .display .milliseconds > div:nth-of-type(19) {
  transform: translate(-50%, -50%) rotate(108deg);
}

#watch .container .display .milliseconds > div:nth-of-type(20) {
  transform: translate(-50%, -50%) rotate(114deg);
}

#watch .container .display .milliseconds > div:nth-of-type(21) {
  transform: translate(-50%, -50%) rotate(120deg);
}

#watch .container .display .milliseconds > div:nth-of-type(22) {
  transform: translate(-50%, -50%) rotate(126deg);
}

#watch .container .display .milliseconds > div:nth-of-type(23) {
  transform: translate(-50%, -50%) rotate(132deg);
}

#watch .container .display .milliseconds > div:nth-of-type(24) {
  transform: translate(-50%, -50%) rotate(138deg);
}

#watch .container .display .milliseconds > div:nth-of-type(25) {
  transform: translate(-50%, -50%) rotate(144deg);
}

#watch .container .display .milliseconds > div:nth-of-type(26) {
  transform: translate(-50%, -50%) rotate(150deg);
}

#watch .container .display .milliseconds > div:nth-of-type(27) {
  transform: translate(-50%, -50%) rotate(156deg);
}

#watch .container .display .milliseconds > div:nth-of-type(28) {
  transform: translate(-50%, -50%) rotate(162deg);
}

#watch .container .display .milliseconds > div:nth-of-type(29) {
  transform: translate(-50%, -50%) rotate(168deg);
}

#watch .container .display .milliseconds > div:nth-of-type(30) {
  transform: translate(-50%, -50%) rotate(174deg);
}

#watch .container .display .hour-marks > div {
  width: 90%;
  height: 3px;
  background: #fff;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#watch .container .display .hour-marks > div::before {
  content: '';
  background: #000;
  border-radius: 10px;
  border: 2px solid #000;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#watch .container .display .hour-marks > div:nth-of-type(2) {
  transform: translate(-50%, -50%) rotate(30deg);
}

#watch .container .display .hour-marks > div:nth-of-type(3) {
  transform: translate(-50%, -50%) rotate(60deg);
}

#watch .container .display .hour-marks > div:nth-of-type(4) {
  transform: translate(-50%, -50%) rotate(90deg);
}

#watch .container .display .hour-marks > div:nth-of-type(5) {
  transform: translate(-50%, -50%) rotate(120deg);
}

#watch .container .display .hour-marks > div:nth-of-type(6) {
  transform: translate(-50%, -50%) rotate(150deg);
}

#watch .container .display .complication {
  background: #171717;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#watch .container .display .complication#top {
  left: 70%;
  background: #000;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#watch .container .display .complication#top span {
  transform: rotate(90deg);
}

#watch .container .display .complication#right {
  top: 70%;
}

#watch .container .display .complication#right span {
  transform: rotate(90deg);
  color: #fff;
}

#watch .container .display .complication#right span > span {
  position: absolute;
  text-transform: uppercase;
}

#watch .container .display .complication#right span #weekday {
  color: #636d84;
  font-size: 16px;
  letter-spacing: 1px;
  top: 37%;
  left: 52%;
}

#watch .container .display .complication#right span #day {
  top: 27%;
  left: 12%;
  font-size: 32px;
  font-weight: 500;
}

#watch .container .display .complication#bottom {
  background: #000;
  left: 30%;
}

#watch .container .display .complication#bottom span {
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#watch .container .display .complication#bottom span #activity-rings {
  height: 100%;
  width: 100%;
}

#watch .container .display .complication#bottom span #activity-rings .ring {
  transform-origin: 50%;
}

#watch .container .display .complication#bottom span #activity-rings .completed {
  stroke-linecap: round;
  animation: ringProgress 1500ms ease-in-out forwards;
}

#watch .container .display .complication#bottom span #activity-rings circle {
  fill: none;
}

#watch .container .display .complication#bottom span #activity-rings .ring1 .background {
  stroke: rgba(229, 229, 229, 0.1);
}

#watch .container .display .complication#bottom span #activity-rings .ring1 .completed {
  stroke: #e5e5e5;
  animation-delay: 1000ms;
}

#watch .container .display .complication#bottom span #activity-rings .ring2 .background {
  stroke: rgba(229, 229, 229, 0.1);
}

#watch .container .display .complication#bottom span #activity-rings .ring2 .completed {
  stroke: #e5e5e5;
  animation-delay: 1200ms;
}

#watch .container .display .complication#bottom span #activity-rings .ring3 .background {
  stroke: rgba(229, 229, 229, 0.1);
}

#watch .container .display .complication#bottom span #activity-rings .ring3 .completed {
  stroke: #e5e5e5;
  animation-delay: 1400ms;
}

#watch .container .display .complication#left {
  top: 30%;
}

#watch .container .display .complication#left span {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#watch .container .display .complication#left svg {
  fill: #e5e5e5;
  width: 40px;
  height: 40px;
}

#watch .container .display #main-center {
  background: #000;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#watch.show {
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */