* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d9c6a5;
  background: linear-gradient(0deg, #d9c6a5 0%, #fff1dc 100%);
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

@keyframes ringProgress {
  0% {
      stroke-dasharray: 0 100;
  }
}

#watch {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-top: 20px;
  transition: opacity 1000ms ease-in-out, margin-top 1000ms ease-in-out;
  
  .container {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 640px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    .display {
      width: 300px;
      height: 300px;
      background: #000;
      border: 10px solid #000;
      border-radius: 36px;
      position: relative;
      transform: rotate(-90deg);
      box-shadow: -36px 0px 20px -20px #b29f7e;

      .hand {
        width: 88%;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 12px;
        transform: translate(-50%, -50%);

        &>div { 
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 5px;
          border-radius: 10px;

          .center {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            top: 50%;
            left: -1px;
            transform: translate(0, -50%);
          }

          .thin {
            background: #fff;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            position: absolute;
            top:50%;
            left: 0;
            transform: translate(0, -50%);
          }
          
          .fat {
            background: #fff;
            width: 70%;
            height: 100%;
            border-radius: 8px;
            position: absolute;
            top:50%;
            right: 0;
            transform: translate(0, -50%);
            box-shadow: 0 0 10px #000;
          }
        }

        &#minute {

          .fat {
            width: 80%;
          }
        }

        &#hour {
          width: 50%;
        }
        
        &#second {
          .center {
            background: #636d84;
            width: 10px;
            height: 10px;
            left: 0;
          }

          .thin {
            background: #636d84;
            left: -20px;
            width: 120%;
            height: 2px;
            box-shadow: 0 0 5px #000;
          }
        }
      }

      .marks {
        &.millisecond {
          &> div {
            width: 90%;
            height: 2px;
            background: #313643;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            &::before {
              content: '';
              background: #000;
              border: 2px solid #000;
              border-radius: 10px;
              width: 90%;
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
    
            &:nth-of-type(2){
              transform: translate(-50%, -50%) rotate(3deg);
            }
            &:nth-of-type(3){
              transform: translate(-50%, -50%) rotate(6deg);
            }
            &:nth-of-type(4){
              transform: translate(-50%, -50%) rotate(9deg);
            }
            &:nth-of-type(5){
              transform: translate(-50%, -50%) rotate(12deg);
            }
            &:nth-of-type(6){
              transform: translate(-50%, -50%) rotate(15deg);
            }
            &:nth-of-type(7){
              transform: translate(-50%, -50%) rotate(18deg);
            }
            &:nth-of-type(8){
              transform: translate(-50%, -50%) rotate(21deg);
            }
            &:nth-of-type(9){
              transform: translate(-50%, -50%) rotate(24deg);
            }
            &:nth-of-type(10){
              transform: translate(-50%, -50%) rotate(27deg);
            }
            &:nth-of-type(11){
              transform: translate(-50%, -50%) rotate(30deg);
            }
            &:nth-of-type(12){
              transform: translate(-50%, -50%) rotate(33deg);
            }
            &:nth-of-type(13){
              transform: translate(-50%, -50%) rotate(36deg);
            }
            &:nth-of-type(14){
              transform: translate(-50%, -50%) rotate(39deg);
            }
            &:nth-of-type(15){
              transform: translate(-50%, -50%) rotate(42deg);
            }
            &:nth-of-type(16){
              transform: translate(-50%, -50%) rotate(45deg);
            }
            &:nth-of-type(17){
              transform: translate(-50%, -50%) rotate(48deg);
            }
            &:nth-of-type(18){
              transform: translate(-50%, -50%) rotate(51deg);
            }
            &:nth-of-type(19){
              transform: translate(-50%, -50%) rotate(54deg);
            }
            &:nth-of-type(20){
              transform: translate(-50%, -50%) rotate(57deg);
            }
            &:nth-of-type(21){
              transform: translate(-50%, -50%) rotate(60deg);
            }
            &:nth-of-type(22){
              transform: translate(-50%, -50%) rotate(63deg);
            }
            &:nth-of-type(23){
              transform: translate(-50%, -50%) rotate(66deg);
            }
            &:nth-of-type(24){
              transform: translate(-50%, -50%) rotate(69deg);
            }
            &:nth-of-type(25){
              transform: translate(-50%, -50%) rotate(72deg);
            }
            &:nth-of-type(26){
              transform: translate(-50%, -50%) rotate(75deg);
            }
            &:nth-of-type(27){
              transform: translate(-50%, -50%) rotate(78deg);
            }
            &:nth-of-type(28){
              transform: translate(-50%, -50%) rotate(81deg);
            }
            &:nth-of-type(29){
              transform: translate(-50%, -50%) rotate(84deg);
            }
            &:nth-of-type(30){
              transform: translate(-50%, -50%) rotate(87deg);
            }
            &:nth-of-type(31){
              transform: translate(-50%, -50%) rotate(90deg);
            }
            &:nth-of-type(32){
              transform: translate(-50%, -50%) rotate(93deg);
            }
            &:nth-of-type(33){
              transform: translate(-50%, -50%) rotate(96deg);
            }
            &:nth-of-type(34){
              transform: translate(-50%, -50%) rotate(99deg);
            }
            &:nth-of-type(35){
              transform: translate(-50%, -50%) rotate(102deg);
            }
            &:nth-of-type(36){
              transform: translate(-50%, -50%) rotate(105deg);
            }
            &:nth-of-type(37){
              transform: translate(-50%, -50%) rotate(108deg);
            }
            &:nth-of-type(38){
              transform: translate(-50%, -50%) rotate(111deg);
            }
            &:nth-of-type(39){
              transform: translate(-50%, -50%) rotate(114deg);
            }
            &:nth-of-type(40){
              transform: translate(-50%, -50%) rotate(117deg);
            }
            &:nth-of-type(41){
              transform: translate(-50%, -50%) rotate(120deg);
            }
            &:nth-of-type(42){
              transform: translate(-50%, -50%) rotate(123deg);
            }
            &:nth-of-type(43){
              transform: translate(-50%, -50%) rotate(126deg);
            }
            &:nth-of-type(44){
              transform: translate(-50%, -50%) rotate(129deg);
            }
            &:nth-of-type(45){
              transform: translate(-50%, -50%) rotate(132deg);
            }
            &:nth-of-type(46){
              transform: translate(-50%, -50%) rotate(135deg);
            }
            &:nth-of-type(47){
              transform: translate(-50%, -50%) rotate(138deg);
            }
            &:nth-of-type(48){
              transform: translate(-50%, -50%) rotate(141deg);
            }
            &:nth-of-type(49){
              transform: translate(-50%, -50%) rotate(144deg);
            }
            &:nth-of-type(50){
              transform: translate(-50%, -50%) rotate(147deg);
            }
            &:nth-of-type(51){
              transform: translate(-50%, -50%) rotate(150deg);
            }
            &:nth-of-type(52){
              transform: translate(-50%, -50%) rotate(153deg);
            }
            &:nth-of-type(53){
              transform: translate(-50%, -50%) rotate(156deg);
            }
            &:nth-of-type(54){
              transform: translate(-50%, -50%) rotate(159deg);
            }
            &:nth-of-type(55){
              transform: translate(-50%, -50%) rotate(162deg);
            }
            &:nth-of-type(56){
              transform: translate(-50%, -50%) rotate(165deg);
            }
            &:nth-of-type(57){
              transform: translate(-50%, -50%) rotate(168deg);
            }
            &:nth-of-type(58){
              transform: translate(-50%, -50%) rotate(171deg);
            }
            &:nth-of-type(59){
              transform: translate(-50%, -50%) rotate(174deg);
            }
            &:nth-of-type(60){
              transform: translate(-50%, -50%) rotate(177deg);
            }
          }
        }
  
        &.hour {
          &> div {
            width: 90%;
            height: 3px;
            background: #fff;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            &::before {
              content: '';
              background: #000;
              border-radius: 10px;
              border: 2px solid #000;
              width: 90%;
              height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
  
            &:nth-of-type(2){
              transform: translate(-50%, -50%) rotate(30deg);
            }
  
            &:nth-of-type(3){
              transform: translate(-50%, -50%) rotate(60deg);
            }
            
            &:nth-of-type(4){
              transform: translate(-50%, -50%) rotate(90deg);
            }
  
            &:nth-of-type(5){
              transform: translate(-50%, -50%) rotate(120deg);
            }
  
            &:nth-of-type(6){
              transform: translate(-50%, -50%) rotate(150deg);
            }
          }
        }
      }

      .complication.inside {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        background: #171717;
        background-repeat:no-repeat;
        border: none;
        border-radius: 50%;
        overflow: hidden;
        outline:none;
        cursor: pointer;

        &:focus{
          background: #252525;
        }

        &#top{
          left: 70%;
          background: #000;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            transform: rotate(90deg);
          }
        }

        &#right{
          top: 70%;

          >span {
            transform: rotate(90deg);
            color: #fff;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            
            &>span {
              text-transform: uppercase;
              width: 100%;
              text-align: center;
            }
            
            #weekday{
              color: #636d84;
              font-size: 16px;
              letter-spacing: 1px;
            }

            #day{
              font-size: 32px;
              font-weight: 500;
            }
          }
        }
        
        &#bottom{
          background: #000;
          left: 30%;

          span {
            width: 100%;
            height: 100%;
            transform: rotate(90deg);
            display: flex;
            align-items: center;
            justify-content: center;

            #activity-rings {
              height: 100%;
              width: 100%;
          
              .ring {
                transform-origin: 50%;
              }
              .completed {
                stroke-linecap: round;
                animation: ringProgress 1500ms ease-in-out forwards;
              }
              circle {
                  fill: none;
              }

              $color-ring: #e5e5e5;
              .move-ring {
                .background {
                  stroke: transparentize($color-ring, 0.9);
                }
                .completed {
                  stroke: $color-ring;
                  animation-delay: 1000ms;
                }  
              }
              .exercise-ring {
                .background {
                  stroke: transparentize($color-ring, 0.9);
                }
                .completed {
                  stroke: $color-ring;
                  animation-delay: 1200ms;
                }
              }
              .stand-ring {
                .background {
                  stroke: transparentize($color-ring, 0.9);
                }
                .completed {
                  stroke: $color-ring;
                  animation-delay: 1400ms;
                }
              }
            }
            
          }
        }

        &#left {
          top: 30%;

          span {
            display: block;
            width: 100%;
            height: 100%;
            transform: rotate(90deg);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
          }
          svg {
            fill: #e5e5e5;
            width: 40px;
            height: 40px;
          }
        }
      }

      .complication.outside {
        &#top-left {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 110%;
          height: 110%;
          transform: translate(-50%, -50%);
          
          .value-xs {
            color: #e5e5e5;
            font-size: 14px;
            display: block;
            position: absolute;
            top: 29px;
            right: 68px;
            transform: rotate(30deg);
          }

          .icon {
            fill: #e5e5e5;
            width: 21px;
            height: 21px;
            position: absolute;
            top: 36px;
            right: 20px;
            transform: rotate(90deg);
          }

          .graph {
            position: absolute;
            top: 0;
            left: 0;
          }

          .ring {
            transform-origin: 50%;
            transform: scale(1) rotate(-50deg);

            circle {
              fill: none;
              stroke-linecap: round;
            }
            
            .background {
              stroke: transparentize(#313643, 0.4);
            }
            .completed {
              stroke: #e5e5e5;
              animation-delay: 1000ms;
            }  
          }
          
        }

        &#top-right {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 110%;
          height: 110%;
          transform: translate(-50%, -50%);
          
          .value-lg {
            color: #e5e5e5;
            font-size: 18px;
            display: block;
            position: absolute;
            bottom: 39px;
            right: 23px;
            transform: rotate(136deg);
          }
          
          .value-xs {
            color: #e5e5e5;
            font-size: 14px;
            display: block;
            position: absolute;
            bottom: 109px;
            right: 13px;
            transform: rotate(116deg);

            &:last-of-type {
              bottom: 21px;
              right: 81px;
              transform: rotate(150deg);
            }
          }

          .icon {
            fill: #e5e5e5;
            width: 21px;
            height: 21px;
            position: absolute;
            top: 36px;
            right: 20px;
            transform: rotate(90deg);
          }

          .graph {
            position: absolute;
            top: 0;
            left: 0;
          }

          .ring {
            transform-origin: 50%;
            transform: scale(1) rotate(20deg);

            circle {
              fill: none;
              stroke-linecap: round;
            }
            
            .background {
              stroke: transparentize(#313643, 0.4);
            }
            
            .completed {
              stroke: #e5e5e5;
              animation-delay: 1000ms;
            }

            .dot {
              fill: #e5e5e5;
              stroke: #000;
              stroke-width: 0.2px;
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }

        &#bottom-left {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 110%;
          height: 110%;
          transform: translate(-50%, -50%);
          
          .value-xs {
            color: #e5e5e5;
            font-size: 14px;
            display: block;
            position: absolute;
            bottom: 260px;
            right: 220px;
            transform: rotate(140deg);
          }

          .icon {
            fill: #e5e5e5;
            width: 21px;
            height: 21px;
            position: absolute;
            top: 36px;
            left: 20px;
            transform: rotate(90deg);
          }

          .graph {
            position: absolute;
            top: 0;
            left: 0;
          }

          .ring {
            transform-origin: 50%;
            transform: scale(1) rotate(200deg);

            circle {
              fill: none;
              stroke-linecap: round;
            }
            
            .background {
              stroke: transparentize(#313643, 0.4);
            }
            
            .completed {
              stroke: #e5e5e5;
              animation-delay: 1000ms;
            }
          }
          
        }
      }

      #main-center {
        background: #000;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &.show{
    opacity: 1;
    margin-top: 0;
  }
}