label {
  font-size: 14px;
  color: $c-pastel-light;
  letter-spacing: .5px;
  margin-bottom: 4px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0 0;
  box-sizing: border-box;
  font-size: 18px;
  letter-spacing: 1px;
  color: $c-pastel-light;
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid $c-dark-grey;
  transition: border 200ms ease-in-out;

  &:focus{
    outline: none;
    border-bottom-color: $c-grey;
  }
}