.form {
  width: 90%;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-flow: column;

  label {
    font-size: 18px;
    margin-bottom: 4px;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
  }
}