* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: linear-gradient(0deg, $c-pastel 0%, $c-pastel-light 100%) $c-pastel-light;
  width: 100vw;
  height: var(--app-height);
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none !important;
}