.modal {
  background: $c-black;
  width: 90%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -105%;
  transform: rotate(90deg);
  padding: 16px;
  z-index: 2;
  transition: left 300ms ease-in-out;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;

  &.show {
    left: 5%;
  }

  &>div {
    padding: 24px 16px;
    border-radius: 8px;
  }

  .area {
    background: $c-ultra-grey;
    display: flex;
    align-items: flex-end ;
    justify-content: space-between;
    width: 100%;

    &>div {
      flex: 1;
    }

    label {
      font-size: 14px;
      color: $c-pastel-light;
      letter-spacing: .5px;
      margin-bottom: 4px;
    }
  
    input {
      width: 100%;
      padding: 8px;
      margin: 8px 0 0;
      box-sizing: border-box;
      font-size: 18px;
      letter-spacing: 1px;
      color: $c-pastel-light;
      background: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid $c-dark-grey;
      transition: border 200ms ease-in-out;
  
      &:focus{
        outline: none;
        border-bottom-color: $c-grey;
      }
    }

    button {
      width: 40px;
      height: 40px;
      background: $c-medium-grey;
      border: 2px solid $c-medium-grey;
      padding: 4px;
      margin-left: 16px;
      border-radius: 8px;
      font-size: 12px;
      line-height: 1;
      color: $c-white;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      transition: border 200ms ease-in-out;
  
      &:hover,
      &:focus{
        outline: none;
        border-color: $c-grey;
      }
    }

    .timer {
      color: $c-white;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: space-between;
      font-size: 21px;

      & > button {
        margin: 0;
        background: $c-ultra-grey;
        border-color: $c-ultra-grey;
        font-size: 21px;
        line-height: 0;

        &:hover,
        &:focus {
          background: $c-dark-grey;
          border-color: $c-dark-grey;
        }
      }

      & > span:first-of-type {
        padding-left: 8px;
      }

      & > span:last-of-type {
        padding-right: 8px;
      }
    }
  }

  
  #close-button {
    position: absolute;
    top: 16px;
    left: 16px;
    color: $c-pastel-light;
    background: transparent;
    border: none;

    &:focus {
      outline: none;
      border-bottom: 1px solid $c-pastel-light;
    }
  }
}